



h1, h2,  h3, h4, h5, h6 { color: pink; }
; 

h2 { 
    color: pink;
    text-decoration: dotted;
    font-size: 50px ;
    font-family:Arial, Helvetica, sans-serif; 
    text-shadow: 1px 1px 2px rgb(255, 0, 128), 0 0 1em rgb(111, 0, 255), 0 0 0.2em blue;
}

h3 { 
    color: pink;
    text-decoration: dotted; 
 font-size: 50px ;
 font-family:Arial, Helvetica, sans-serif; 
 text-shadow: 1px 1px 2px rgb(255, 0, 128), 0 0 1em rgb(111, 0, 255), 0 0 0.2em blue;
}

h1 { 
    color: pink;
    text-decoration: dotted;
    font-size: 50px ;
     font-family:Arial, Helvetica, sans-serif;
     text-shadow: 1px 1px 2px rgb(255, 0, 128), 0 0 1em rgb(111, 0, 255), 0 0 0.2em blue;
    
}

h4{ 
    color: pink;
    text-decoration: dotted;
    font-size: 30px ;
     font-family:Arial, Helvetica, sans-serif;
     text-shadow: 1px 1px 2px rgb(255, 0, 128), 0 0 1em rgb(111, 0, 255), 0 0 0.2em blue;


     h7 { 
        color: pink;
        text-decoration: dotted;
        font-size: 15px ;
         font-family:Arial, Helvetica, sans-serif;
         text-shadow: 1px 1px 2px rgb(255, 0, 128), 0 0 1em rgb(111, 0, 255), 0 0 0.2em blue;
    
}



* {
    outline: 10px, solid pink;
}

.img{
    width:100px;
    height:100px;
}

.main_container {
    height: 46px;
    width: auto;
    padding: 3px;
    margin: 2px;
    max-width: 300px;
    background-color: #555555;
    align-content: center;
  }
  .container_inner {
    height: auto;
    border: none;
    background-color: #555555;
    max-width: 290px;
    vertical-align: center;
    padding-top: 12px;
    padding-left: 10px;
    align-content: center;
  }
   .num_tiles {
    width:60px;
    height: 30px;
    background-color: #bd1083;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    margin: 1.5px;
    font-family: verdana;
    vertical-align: center;
  }