#centertitle {
    text-align: center;
    color: blueviolet;
    font-size: 63px;
    font-style: italic;
}

#test { 
    
    color:blueviolet;
    font-size: 35px;
    font-style: italic;
}

#search-text { 

    text-align: center;
    font-size: 30px;

}

#test1 { 

text-align:center;
font-size: 30px;

}


center { 
display:block;
margin-left: auto;
margin-right: auto:
widows: 50%;
}

#img  { 

text-align: center;
width: 50px;
height: 50px;

}